@model LaptopsQueryModel

@{
    ViewData["Title"] = "Laptops";
}
<h1 class="text-center mb-2">@ViewData["Title"]</h1>
<hr />

<partial name="_IndexButtonsPartial" model="@Model.Laptops" />
<br />

<form method="get">
    <div class="row">
        <!-- CPU Selection -->
        <div class="form-group col-md-3">
            <label asp-for="Cpu">CPU Model</label>
            <select asp-for="Cpu" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.Cpus)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>

        <!-- RAM Selection -->
        <div class="form-group col-md-3">
            <label asp-for="Ram">RAM</label>
            <select asp-for="Ram" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.Rams)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>

        <!-- SSD Capacity Selection -->
        <div class="form-group col-md-3">
            <label asp-for="SsdCapacity">SSD Capacity</label>
            <select asp-for="SsdCapacity" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.SsdCapacities)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>

        <!-- Video Card Selection -->
        <div class="form-group col-md-3">
            <label asp-for="VideoCard">Video Card Model</label>
            <select asp-for="VideoCard" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.VideoCards)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
    </div>

    <div class="row">
        <!-- Keyword Search -->
        <div class="form-group col-md-3">
            <label asp-for="KeyWord">Search by a keyword</label>
            <input asp-for="KeyWord" class="form-control" placeholder="..." />
        </div>

        <!-- Sorting -->
        <div class="form-group col-md-3">
            <label asp-for="Sorting">Sort by</label>
            <select asp-for="Sorting" class="form-control">
                <option value="0">Newest</option>
                <option value="1">Brand</option>
                <option value="2">Price (From Min To Max)</option>
                <option value="3">Price (From Max To Min)</option>
            </select>
        </div>
    </div>

    <!-- Search Button -->
    <div class="text-center">
        <div class="form-group mt-4 p-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<partial name="_IndexTablePartial" model="@Model.Laptops" />
